; ZSH
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule "zsh/theme/spaceship-prompt"]
	path = zsh/theme/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git

; FZF
